<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/informes.css" />

    <style type="text/css">
        .div-date-1 {
            display: inline-block;
            width: fit-content;
            padding: 2px;
            border-radius: 50px;
            height: fit-content;
            background-image: linear-gradient(to right, rgb(37, 170, 225), rgb(68, 129, 235), rgb(4, 190, 254), rgb(63, 134, 237));
        }

        .date-css-1 {
            user-select: none;
            border-radius: 50px;
            text-align: center;
            border: 2px;
            font-family: inherit;
            justify-content: center;
            color: #443434;
            background: #f8f9fc;
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            box-shadow: 5px 5px 25px -2px rgba(31, 115, 255, 0.46);
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Inicia navbar lateral -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-glass-martini"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="ordenes.html"><i
                                class="fas fa-list-ol"></i><span>ORDENES</span></a>
                        <a class="nav-link active" href="clientes.html"><i
                                class="fas fa-users"></i><span>CLIENTES</span></a>
                        <a class="nav-link active" href="productos.html"><i
                                class="fas fa-box"></i><span>PRODUCTOS</span></a>
                        <a class="nav-link active" href="categorias.html"><i
                                class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                        <a class="nav-link active" href="informes.html"><i
                                class="fas fa-file-alt"></i><span>INFORMES</span></a>
                        <a class="nav-link active" href="users.html"><i
                                class="fas fa-users"></i><span>USUARIOS</span></a>
                        <a class="nav-link active" href="users.html"><i
                                class="fas fa-archive"></i><span>BITACORAS</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <!-- Termina navbar lateral -->


        <div class="d-flex flex-column" id="content-wrapper">

            <div id="content">

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div id="appRESBAR">
                    <!-- Inicia navbar top -->
                    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top d-md-none"
                        style="box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);margin-bottom: 10px;" role="navigation">
                        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                            style="color: #585858;" href="#">
                            <div class="sidebar-brand-icon rotate-n-15">
                                <i class="fas fa-glass-martini"></i>
                            </div>
                            <div class="sidebar-brand-text mx-3"><span>RESBAR</span></div>
                        </a>

                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse"
                                style="position: relative;padding: 9px 10px;background-color: transparent;background-image: none;border: 1px solid transparent;border-radius: 4px;border-color: #ddd;"
                                aria-expanded="false">
                                <span style="color: #585858;"><i class="fas fa-bars"></i></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="navbar-collapse navbar-ex1-collapse collapse">
                            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                                <li class="nav-item" role="presentation">
                                    <a class="topNavLink active" href="ordenes.html"
                                        style="background-color: #585858;color: white;"><i
                                            class="fas fa-list-ol"></i><span>ORDENES</span></a>
                                    <a class="topNavLink active" href="clientes.html"><i
                                            class="fas fa-users"></i><span>CLIENTES</span></a>
                                    <a class="topNavLink active" href="productos.html"><i
                                            class="fas fa-box"></i><span>PRODUCTOS</span></a>
                                    <a class="topNavLink active" href="categorias.html"><i
                                            class="fas fa-sitemap"></i><span>CATEGORÍAS</span></a>
                                    <a class="topNavLink active" href="informes.html"><i
                                            class="fas fa-file-alt"></i><span>INFORMES</span></a>
                                    <a class="topNavLink active" href="users.html"><i
                                            class="fas fa-users"></i><span>USUARIOS</span></a>
                                    <a class="topNavLink active" href="bitacora.html"><i
                                            class="fas fa-archive"></i><span>BITACORAS</span></a>
                                    <button type="button" class="btn btn-sm btn-danger float-right"
                                        v-on:click="salir">Salir</button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Termina navbar top -->

                    <!-- Comienza contenedor -->
                    <div class="container-fluid">

                        <!-- inicio de titulo -->
                        <div class="row my-4">
                            <div class="col-12 ag">
                                <button type="button" class="btn d-none d-lg-inline btn-danger float-right"
                                    v-on:click="salir">Salir</button>
                                <label class="my-1 mx-1 text-success d-none d-lg-inline"><i class="fas fa-user-alt"></i>
                                    {{ logName }}</label><br>
                                <h1 class="text-center">Bitacoras RESBAR</h1>
                            </div>
                        </div>
                        <!-- fin de titulo -->

                        <!--inicio de div del buscador, rango de fechas y boton-->
                        <div class="div-encapsula-dates" v-if="admin === true">

                            <!--buscador-->
                            <div class="espacio-divs">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text buscar"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input type="text" placeholder="Buscar" v-model="txtBuscar">
                                </div>
                            </div>

                            <!--fecha de inicio-->
                            <div class="espacio-divs">
                                Desde:
                                <div class="div-date-1 animated bounceIn">
                                    <input type="date" id="inicio" class="date-css-1" v-model="inicio"><br>
                                </div>
                            </div>
                            <!--fecha de final-->
                            <div class="espacio-divs">
                                Hasta:
                                <div class="div-date-1 animated bounceIn delay1">
                                    <input type="date" id="hasta" class="date-css-1" v-model="hasta"><br>
                                </div>
                            </div>
                            <!--boton final-->
                            <button id="buscarFechas" class="btn btn-sm agg text-white" @click="getBuscarPorFechas()"
                                onclick="alerta()">Buscar por fechas</button>
                            <button id="borrarFiltros" class="btn btn-sm agg text-white" @click="borrarFiltros()">Borrar
                                Filtros</button>
                        </div>
                        <!--termina de div del buscador, rango de fechas y boton-->

                        <!--Inicio: Alertas-->
                        <div class="alert alert-info collapse" role="alert" id="buttonAlert"
                            v-bind:class="{ 'alert-success' : accion==='exito' }">
                            <span v-if="accion==='danger1'"><strong>Error!</strong> Error ingrese las fechas:
                                <strong>DESDE</strong> y <strong>HASTA.</strong></span>
                            <span v-if="accion==='danger2'"><strong>Error!</strong> Error ingrese <strong>la fecha
                                    HASTA.</strong></span>
                            <span v-if="accion==='danger3'"><strong>Error!</strong> Error ingrese <strong>la fecha
                                    DESDE.</strong></span>
                            <span v-if="accion==='danger4'"><strong>Error!</strong> La fecha <strong>HASTA</strong> debe
                                ser mayor a la
                                fecha <strong>DESDE</strong>.</span>
                            <span v-if="accion==='exito'"><strong>Exito!</strong> Buscando DATOS</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!--Fin: Alertas-->

                        <!-- Incia Tabla -->
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover table-striped mb-0">
                                <thead class="bg-primary text-white">
                                    <tr>
                                        <th style="text-align: center;" scope="col" class="align-items-center">ID</th>
                                        <th style="text-align: center;" scope="col">Fecha</th>
                                        <th style="text-align: center;" scope="col">Acción</th>
                                        <th style="text-align: center;" scope="col">Nombre Completo</th>
                                        <th style="text-align: center;" scope="col">Usuario</th>
                                        <th style="text-align: center;" scope="col">Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active " v-for="(item, index ) in bitacoras" v-show="buscador(index)">
                                        <td style="text-align: center;" scope="col">
                                            {{ String((item.id).substring(17,24))}}
                                        </td>
                                        <td style="text-align: center;" scope="col">{{ item.fecha.substring(0,10) }}
                                        </td>
                                        <td style="text-align: center;" scope="col">{{ item.accion }}</td>
                                        <td style="text-align: center;" scope="col">{{ item.nombreCompleto }}</td>
                                        <td style="text-align: center;" scope="col">{{ item.loggin }}</td>
                                        <td style="text-align: center;" scope="col">{{ item.descripcion }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <ul class="pagination justify-content-center">
                                <button @click="anteriorPage" :disabled="irPagAnterior"
                                    class="btn btn-sm agg text-white" style="margin: 8px; ">Anterior</button>
                                <button @click="siguientePage" :disabled="irPagSiguiente"
                                    class="btn btn-sm agg text-white" style="margin: 8px;">Siguiente</button>

                            </ul>

                        </div>
                        <!-- Termina Tabla -->

                        <!-- Modal de eliminar por rango -->
                        <button type="button" class="btn btn-sm agg text-white" data-toggle="modal"
                            v-if="admin === true" data-target=".bd-example-modal-lg">Eliminar Registro</button>

                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-content">
                                        <div class="modal-header bg-gradient-primary">
                                            <h5 class="modal-title text-white" id="exampleModalLabel">ELIMINAR
                                                BITACORAS POR RANGO DE FECHAS
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <!--inicio del div del rango de fechas -->
                                            <div class="div-encapsula-dates">
                                                <!--fecha de inicio delete-->
                                                <div class="espacio-divs">
                                                    Desde:
                                                    <div class="div-date-1 animated bounceIn">
                                                        <input type="date" id="inicioDelete" class="date-css-1"
                                                            v-model="inicioDelete"><br>
                                                    </div>
                                                </div>
                                                <!--fecha de final delete-->
                                                <div class="espacio-divs">
                                                    Hasta:
                                                    <div class="div-date-1 animated bounceIn delay1">
                                                        <input type="date" id="hastaDelete" class="date-css-1"
                                                            v-model="hastaDelete"><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--fin del div del rango de fechas -->

                                        </div>

                                        <div class="modal-footer">
                                            <!--boton eliminar cancelar-->
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancelar</button>
                                            <!--boton eliminar rango-->
                                            <button id="deletePorFechas" class="btn btn-primary" data-dismiss="modal"
                                                @click="deletePorFechas()">Eliminar Rango</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Termina Modal de eliminar por rango -->
                    </div>
                    <!-- Termina contenedor -->

                </div>
                <!-- Termina el contenedor de la pagina y el dominio de VUE-->

            </div>

            <!-- Inicia el pie de pagina -->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Diseño I 2020</span></div>
                </div>
            </footer>
            <!-- Termina el pie de pagina -->

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <script src="assets/js/vue-session.min.js "></script>

    <!--Aqui va tu codigo de vue js-->
    <script src="./config.js"></script>
    <script src="./bitacoras.js"></script>

    <script type="text/javascript">
        window.onbeforeunload = function () {
            $("#loader").show()
        }
        window.onload = function () {
            $("#loader").hide()
        }
    </script>
</body>

</html>