<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/print.min.css">
</head>

<body id="page-top">
    <div id="loader" class="loader">
        <div class="face face1">
            <div class="circle"></div>
        </div>
        <div class="face face2">
            <div class="circle"></div>
        </div>
    </div>
    <div id="wrapper">

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">

                    <!-- TITULO -->
                    <div class="row my-4">
                        <h1 class="text-center col-12">Cobrar Orden</h1>
                    </div>


                    <!-- Inicia seccion de alertas -->
                    <div class="alert alert-success collapse" role="alert" id="buttonAlert">
                        <strong>Success!</strong> Registro eliminado correctamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Termina seccion de alertas -->

                    <!--Solo para depuracion y desarrollo mostramos el vue.Data-->

                    <!--Despues borramos esto-
                    <br>
                    <h5>Solo para mostrar vue.Data mientras se desarrolla</h5>
                    -->

                    <!--cobrar orden -->
                    <div class="" id="mdlCobrarOrden" tabindex="-1" role="dialog" aria-labelledby="titleCobrar"
                        aria-hidden="true">
                        <div class="border border-info" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="titleCobrar">Cobrar Orden: {{ordenSelected.id}}</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <span class="badge badge-pill badge-primary " style=" margin: 5px;">
                                            <h5 class="modal-title" id="mesero">Mesa: {{ordenSelected.mesa}}</h5>
                                        </span>
                                        <span class="badge badge-pill badge-primary " style=" margin: 5px;">
                                            <h5 class="modal-title" id="mesero">Mesero: {{ordenSelected.mesero}}</h5>
                                        </span>
                                        <span class="badge badge-pill badge-primary " style=" margin: 5px;">
                                            <h5 class="modal-title" id="cliente">Cliente: {{ordenSelected.cliente}}</h5>
                                        </span>

                                        <span class="badge badge-pill badge-primary " style=" margin: 5px;">
                                            <h5 class="modal-title" id="fecha">Fecha:
                                                {{ordenSelected.fecha.substring(0,10)}}</h5>
                                        </span>
                                        </br>

                                        <!--tabla para desktop-->
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar d-none d-lg-block">
                                            <table class="table table-sm mb-0">
                                                <thead class="bg-primary text-white" style="position: sticky;">
                                                    <tr>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="detalleOrdenAux in ordenSelected.detalleOrden">
                                                        <td class="small">{{detalleOrdenAux.nombre}}</td>
                                                        <td>{{detalleOrdenAux.categoria.nombre}}</td>
                                                        <td>{{detalleOrdenAux.cantidad}}</td>
                                                        <td>$ {{detalleOrdenAux.precio}}</td>
                                                        <td>$ {{detalleOrdenAux.subtotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--fin de la tabla-->

                                        <!--tabla para tablet y smartphone-->
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar d-sm-block d-lg-none">
                                            <table class="table table-sm mb-0">
                                                <thead class="bg-primary text-white" style="position: sticky;">
                                                    <tr>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="detalleOrdenAux in ordenSelected.detalleOrden">
                                                        <td class="small">{{detalleOrdenAux.nombre}}</td>
                                                        <td>{{detalleOrdenAux.categoria.nombre}}</td>
                                                        <td>{{detalleOrdenAux.cantidad}}</td>
                                                        <td>$ {{detalleOrdenAux.precio}}</td>
                                                        <td>$ {{detalleOrdenAux.subtotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--fin de la tabla-->

                                        <div class="container mt-2">

                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <label for="lblEfectivo" class="col-form-label"
                                                        style="color: black;"
                                                        v-show="ordenSelected.estado==&quot;A&quot;"><strong>Ingrese el
                                                            efectivo:</strong> </label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="number" class="form-control" id="lblEfectivo" required
                                                        v-show="ordenSelected.estado==&quot;A&quot;" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <span class="badge" style="background-color: #5CB32B;"
                                                        v-show="ordenSelected.estado==&quot;A&quot;">
                                                        <h3 class="font-weight-bold" style="color: black;" id="total">
                                                            Total: {{ordenSelected.total.toFixed(2)}}</h3>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <label for="propina" id="lblPropina" class="col-form-label"
                                                        style="color: black;"
                                                        v-show="ordenSelected.estado==&quot;A&quot;"><strong>Propina:
                                                        </strong> </label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="number" class="form-control" id="propina"
                                                        v-model="propina"
                                                        v-show="ordenSelected.estado==&quot;A&quot;"
                                                        style="background: rgba(100, 25, 100, 0.8); color: white; box-shadow: 5px 10px 15px rgba(100, 25, 100, 0.8);">
                                                </div>
                                            </div>
                                        </div>


                                        <!-- <label for="lblEfectivo" class="col-form-label" style="color: black;" v-show="ordenSelected.estado==&quot;A&quot;">Ingrese el efectivo: </label> -->

                                        <!-- <div class="col-sm-6 mr-md-5">
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" id="lblEfectivo" required v-show="ordenSelected.estado==&quot;A&quot;"/>
                                            </div>
                                            

                                        </div> -->

                                        <label id="alerta" class="col-form-label" style="color: red;"></label>
                                        <!-- <div class="">
                                            <span class="badge" style="background-color: #5CB32B;" v-show="ordenSelected.estado==&quot;A&quot;"><h3 class="font-weight-bold" style="color: black;" id="total">Total: {{ordenSelected.total}}</h3></span>
                                        </div> -->



                                    </div>
                                </div>
                                <div class="modal-footer col-md-12"
                                    style="display: flex; justify-content: center; align-items: center;">
                                    <!-- <div ><span class="badge" style="background-color: #5CB32B;" v-show="ordenSelected.estado==&quot;A&quot;"><h3 class="font-weight-bold" style="color: black;" id="total"></h3></span></div> -->
                                    <button type="button " class="btn btn-secondary btn-xs"
                                        @click="redireccionarAOrdenes();"
                                        v-show="ordenSelected.estado==&quot;A&quot;">Cancelar</button>
                                    <button type="button " class="btn btn-primary btn-xs" @click="cobrar()"
                                        v-show="ordenSelected.estado==&quot;A&quot;">Cobrar</button>
                                    <!-- <button type="button" class="btn btn-primary btn-lg" @click="volver()" v-show="ordenSelected.estado==&quot;C&quot;">Volver a Ordenes</button> -->

                                </div>
                                <!-- <div class="modal-footer col-md-5">
                                    <div class="container "><span class="badge" style="background-color: #5CB32B;"><h3 class="font-weight-bold" style="color: black;" id="total"></h3></span></div>
                                    <button type="button " class="btn btn-secondary" @click="redireccionarAOrdenes();">Cancelar</button>
                                    <button type="button " class="btn btn-primary" @click="cobrar();">Cobrar</button>
                                </div> -->
                            </div>
                        </div>
                        </br>
                    </div>
                    <!-- Termina cobrar orden -->

                    <!--Inicia el modal Imprimir Orden-->
                    <div class="modal fade bd-example-modal-xl" style="border-radius: 8px;" id="" data-backdrop="static"
                        tabindex="-1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <!--Head modal-->
                                <div class="modal-header bg-gradient-primary">
                                    <h4 class="text-center text-white"></h4>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            class="text-white-50" aria-hidden="true">×</span></button>
                                </div>
                                <!--Body modal-->
                                <div class="modal-body" id="ordenPrint">
                                    <div class="ticket" id="ticket">
                                        <div class="cuerpo">
                                            <table class="tablaTicket centrar">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><strong><span v-for="param in parametros" v-if="param.id==1"
                                                                    class="titulo2">{{param.valor}}</span></strong><br />
                                                            <span v-for="param in parametros"
                                                                v-if="param.id==6">{{param.valor}}</span> <br />
                                                            <span v-for="param in parametros" v-if="param.id==3">TEL:
                                                                {{param.valor}}</span> <br />
                                                            <span v-for="param in parametros" v-if="param.id==4">NIT:
                                                                {{param.valor}}</span> <br />
                                                            <span v-for="param in parametros" v-if="param.id==5">GIRO:
                                                                {{param.valor}}</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="tablaTicket">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Cuenta No.</strong> {{ordenSelected.id}}  <br />
                                                            <strong>Fecha:</strong>
                                                            {{ordenSelected.fecha.substring(0,10)}} <br />
                                                            <span><strong>Mesa:</strong> {{ordenSelected.mesa}}</span>
                                                            <span><strong>Mesero</strong> {{ordenSelected.mesero}}
                                                            </span>
                                                            <span><strong>Cliente:</strong>
                                                                {{ordenSelected.cliente}}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="print tablaTicket centrar">
                                                <thead>
                                                    <tr>
                                                        <th class="producto">Cant.</th>
                                                        <th class="cantidad">Producto</th>
                                                        <th class="precio">P/U</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="detalleOrdenAux in ordenSelected.detalleOrden">
                                                        <td class="text-center">{{detalleOrdenAux.cantidad}}</td>
                                                        <td class="name">{{detalleOrdenAux.nombre}}</td>
                                                        <td>${{detalleOrdenAux.precio.toFixed(2)}}</td>
                                                        <td>${{detalleOrdenAux.subtotal.toFixed(2)}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td colspan=""><strong>Subtotal:</strong></td>
                                                        <td><strong>${{(ordenSelected.total).toFixed(2)}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td colspan="">Propina:</td>
                                                        <td>${{parseFloat(ordenSelected.total*factorPropina()).toFixed(2)}}</td>
                                                    </tr>
                                                    <tr v-show="ordenSelected.domicilio==true">
                                                        <td></td>
                                                        <td></td>
                                                        <td colspan="">Costo de envío:</td>
                                                        <td v-for="param in parametros" v-if="param.id==11">{{param.valor}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="titulo"><strong>TOTAL:</strong></td>
                                                        <td v-show="ordenSelected.domicilio==false" class="titulo">
                                                            <strong>${{(ordenSelected.total+(ordenSelected.total*factorPropina())).toFixed(2)}}</strong>
                                                        </td>
                                                        <td v-show="ordenSelected.domicilio==true" class="titulo">
                                                            <strong>${{(ordenSelected.total+(costoDeEnvio())+(ordenSelected.total*factorPropina())).toFixed(2)}}</strong>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <div class="centrar">
                                                <span v-for="param in parametros"
                                                    v-if="param.id==2">{{param.valor}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer modal-->
                                <div class="modal-footer bg-gradient-primary">
                                    <button class="btn btntable btn-sm text-white" type="button" data-dismiss="modal"
                                        @click="limpiarMotivo()">Cerrar</button>
                                </div>

                            </div>

                        </div>
                        <!--termina modal detalle-->
                    </div>
                    <!--termina modal-->


                </div>
                <!-- Termina el contenedor de la pagina y el dominio de VUE-->

            </div>



        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <!--se ha cargado vue-router para la lectura del parametro, si usas javascript puro en su lugar, quita esta libreria-->
    <script src="assets/js/vue-router.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <script src="assets/js/vue-session.min.js"></script>
    <!--Aqui va tu codigo de vue js-->
    <script src="config.js"></script>
    <script src="./cobrarorden.js"></script>
    <script type="text/javascript">
        window.onbeforeunload = function () {

            $("#loader").show()
        }
        window.onload = function () {
            $("#loader").hide()
        }
    </script>
    <script src="assets/js/print.min.js"></script>

</body>

</html>