<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <title>Resbar Login</title>
</head>
<body>
    <div class="container-fluid" id="appRESBAR">
        <div class="box">
            <h2 class="text-uppercase">Resbar <i class="fas fa-glass-martini"></i></h2>
            <form>
                <div class="inputBox">
                    <small id="errorMsg" class="form-text text-center"></small>
                    <input id="loggin" type="text" v-model="user.loggin" required><label>Usuario</label>
                </div>
                <div class="inputBox">
                    <input id="password" type="password" v-model="user.clave" required><label>password</label>
                </div>
                <div class="inputBox">
                    <small class="form-text text-center">Ingresa de forma rapida usando tu pin</small>
                    <input type="number" v-model="user.pin" required><label>Pin</label>
                </div>
                <input type="button" class="float-right mt-0" value="Enviar" v-on:click="Login()">
            </form>
            <footer class="sticky-footer mt-5">
                    <div class="text-center text-white copyright"><span>Copyright © Diseño I 2020</span></div>
            </footer>

        </div>
    </div>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <script src="assets/js/theme.js "></script>
    <script src="assets/js/Script.js "></script>
    <script src="assets/js/vue-session.min.js"></script>
        <!--Aqui va tu codigo de vue js-->
    <script src="config.js"></script>
    <script src="login.js"></script>
</body>

</html>